<div id="step-four" class="step">
    <div class="step-heading">
        <h1>Step Four</h1>
        <p>Grade student exams</p>
        <div class="instructions">
            <h2>Instructions</h2>
            <p>Scan student's exam as an image file (jpeg). Upload the exam here and wait for the results</p>
        </div>
    </div>
    <div class="step-body">
        <form>
            <div class="form-group">
                <label for="exam-file">Exam</label>
                <input type="file" class="form-control" name="exam-file">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default">
            </div>
        </form>
    </div>
</div>