<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="fastgrades"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Fast Grades</title>
        <meta name="description" content="Saves you time grading paper multiple choice exams">
        <meta name="viewport" content="width=device-width">
        <link href="http://fonts.googleapis.com/css?family=Permanent+Marker|Architects+Daughter" rel="stylesheet" type="text/css">
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <header>
            <div class="menu">
            </div>
        </header>
        <main>
            <div class="container">
                <div class="page-header">
                    <h1>Fast Grades <small>beta</small></h1>
                    <p class="lead">
                        a smart online grading tool for smart educators
                    </p>
                </div>
                <div ng-controller="TestCtrl">
                    <span>AngularJS test: </span><span>{{greeting}}</span>
                </div>
                <div id="disclaimer">
                    <p>
                    This is a work in progress. The system is unable to accept exams for grading at this early stage
                    </p>
                </div>
                <section id="exam-workflow" ng-controller="ExamCtrl">
                    <div id="step-one" class="step">
                        <div class="step-heading">
                            <h1>Step One</h1>
                            <p>How many multiple choice questions are on this exam?
                        </div>
                        <div class="step-body">
                            <form ng-submit="createAnswerKey(numQuestions)">
                                <div class="form-group">
                                    <label for="num-questions">Number of Questions</label>
                                    <input type="number" class="form-control" name="num-questions" ng-model="numQuestions">
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-default">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="step-two" class="step">
                        <div class="step-heading">
                            <h1>Step Two</h2>
                            <p>Enter the answer key for the exam</p>
                        </div>
                        <div class="step-body">
                            <form ng-submit="setAnswerKey()">
                                <div class="answer-entry" ng-repeat="answer in answerKey">
                                    <div class="answer-header">
                                        <p>Question {{ $index + 1 }}</p>
                                    </div>
                                    <div class="answer-form">
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" ng-model="answer.value" name="answer[{{$index}}]" value="A">
                                                A
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" ng-model="answer.value" name="answer[{{$index}}]" value="B">
                                                B
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" ng-model="answer.value" name="answer[{{$index}}]" value="C">
                                                C
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" ng-model="answer.value" name="answer[{{$index}}]" value="D">
                                                D
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-default" value="Finished">
                                </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="wrapper">
                    <div id="footer-about">
                        <p>Developed with agility for JHU 605.407 by Johnathan Gilday</p>
                        <p>Product of a semester project which explores agile methods. Read the <a href="https://github.com/gilday/fast-grades#project-proposal">project proposal</a> for more details.
                        <p><a href="https://github.com/gilday/fast-grades/blob/master/license.txt">Apache License</a></p>
                    </div>
                    <div id="footer-references">
                        <ul class="references-list">
                            <li><a href="https://apps.ep.jhu.edu/course-homepages/3128-605.407-agile-software-development-methods-olagbemiro">JHU 605.407</a></li>
                            <li><a href="https://github.com/gilday/fast-grades">Code on Github</a></li>
                            <li><a href="https://travis-ci.org/gilday/fast-grades">Continuous Integration on Travis-CI</a></li>
                        </ul>
                    </div>
                    <div id="footer-credits">
                        <p>Built with</p>
                        <ul class="credits-list">
                            <li><a href="http://subtlepatterns.com/lined-paper-2/">Subtle Patterns</a></li>
                            <li>Twitter Bootstrap</li>
                            <li>LESS CSS</li>
                            <li>Yeoman</li>
                        </ul>
                    </div>
                </div>
            </div>
            <p></p>
        </footer>
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({src/main/webapp,.tmp}) scripts/main.js -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
</body>
</html>
